.heaedr-dummy {
    /* height: 5rem; */
}

.header-wrapper {
    position: fixed;
    /* margin-top: -5rem; */
    width: 100%;
    z-index: 9100;
    /* background: linear-gradient(45deg, black, transparent); */
    background-color: #d017f5c4;
    /* background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 2px); */
}

.header-home-navm {
    display: inline-block;
}

.nav-btn {
    border: none;
    background: transparent;
    margin: 0.5rem 2rem;
    color: #f1e2e2e3;
    font-size: 1rem;
    font-family: cursive;
}

.nav-btn--academy {
    border: 1px;
    background-color: rgb(231 16 187);
    padding: 10px;
    border-radius: 10px;
    width: 7rem;
    color: #ffebcd;
}

.nav-menu {
    margin: 1rem auto;
    float: right;
}

.logo {
    width: 25%;
    margin: 1rem;
}