
.header-container {
    position: fixed;
    width: 100%;
    z-index: 9100;
    background: linear-gradient(45deg, #b506c9, transparent);
    /* background: linear-gradient(45deg, #09000a, transparent); */

}

.header-wrapper {
    max-width: 80%;
    margin: auto;

}
.header-home-navm {
    display: inline-block;
}

.nav-btn {
    border: none;
    background: transparent;
    margin: 0.5rem 2rem;
    color: #f1e2e2e3;
    font-size: 1rem;
    font-family: cursive;
}

.nav-btn--academy {
    border: 1px;
    background-color: rgb(231 16 187);
    padding: 10px;
    border-radius: 10px;
    width: 7rem;
    color: #ffebcd;
}

.nav-menu {
    margin: 13px auto;
    float: right;
}

.logo {
    width: 25%;
}